div.AspNet-GridView {
    border: 1px solid #d3d3d3;
    font-size: 0.8em;
    min-height: 1px;
    font-family: "Lucida Sans";
}

    div.AspNet-GridView table {
        width: 100%;
        border-collapse: collapse;
        font-size: small;
    }

tr.AspNet-GridView th {
    padding: 5px 5px 4px 4px;
    /*background: url('grid-header-back.gif') top left repeat-x;*/
    background-color: #55a1fb;/*Highlight;*/
    color: white;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    white-space: nowrap;
}

            div.AspNet-GridView table thead tr th.sortable {
                padding: 0px;
            }

                div.AspNet-GridView table thead tr th.sortable:hover {
                    background: #b7e7fb url('grid-header-sortable-back-hover.gif') top left repeat-x;
                    border: 1px solid #96d9f9;
                    border-top: none;
                    border-left: none;
                }

                div.AspNet-GridView table thead tr th.sortable a {
                    display: block;
                    padding: 3px 3px 2px 2px;
                    color: Black;
                    min-height: 1px; /* Force layout in IE7 to prevent rendering issues */
                }

                    div.AspNet-GridView table thead tr th.sortable a:hover {
                        text-decoration: none;
                    }

            div.AspNet-GridView table thead tr th.sorted {
                background: #d8ecf6 url('grid-header-sorted-back.gif') top left repeat-x;
                border: 1px solid #96d9f9;
                border-top: none;
                border-left: none;
            }

            div.AspNet-GridView table thead tr th.asc a {
                background: transparent url('grid-header-asc-glyph.gif') center 1px no-repeat;
            }

            div.AspNet-GridView table thead tr th.desc a {
                background: transparent url('grid-header-desc-glyph.gif') center 1px no-repeat;
            }

div.AspNet-GridView table tbody tr td {
    /*padding: 2px 4px 2px 5px;*/
    padding-left:7px;
     border: 1px solid #d3d3d3;
    color: blue;
    background-color: #f2f9fc;
}

            div.AspNet-GridView table thead tr th.action,
            div.AspNet-GridView table tbody tr td.action {
                border-left: none;
                border-right: none;
            }

            div.AspNet-GridView table tbody tr td.action {
                padding: 2px 2px 2px 2px;
                width: 40px;
                text-align: center;
            }

div.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td {
    background: #DCDCDC; /*#f2f9fc;*/
}

tr.AspNet-GridView-Pagination {
    background: #e6e9ee;
    text-align: center;
    padding: 2px 3px 2px 3px;
    font-size: 0.9em;
    min-height: 1px; /* Force layout in IE7 to prevent rendering issues */
}

    tr.AspNet-GridView-Pagination span {
        padding: 0px 3px;
        background: #d8ecf6;
        border: 1px solid #96d9f9;
    }
    tr.AspNet-GridView-Pagination td table {
        width: 15%;
       
    }
    tr.AspNet-GridView-Pagination td table tbody tr td {
        width: 20px;
      
    }

div.grid-row-count {
    color: #666666;
    padding: 2px 0px 2px 6px;
    font-size: 0.8em;
    background-color: gray;
}
.GridPager a, .GridPager span {
    display: block;
    height: 15px;
    width: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.GridPager td table {
    width: 15%;
}
    .GridPager td table tbody tr {
        display: flex;
    }
    .GridPager td table tbody tr td {
        width: 20px;
        border: none;
       
    }
.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background-color: #A1DCF2;
    color: #000;
    border: 1px solid #3AC0F2;
}

.aspNetDisabled {
    cursor: url("../img/no-pencil-sign.png"),auto;
    color: darkgray;
    background: lightgrey;
}
.aspNetDisabled:hover {
    cursor: url("../img/no-pencil-sign.png"),auto;
    color: darkgray;
    background: lightgrey;
}
.GridDeleteButton {
    background: url(../img/delete.png) 23px 23px no-repeat;
    height: 23px;
    width: 25px;
    cursor: pointer;
    border: none;
    background-position: 10px center;
}
.GridEditButton {
    background: url(../img/HB-Pencil-edit.png) 23px 23px no-repeat;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    cursor: pointer;
    border: none;
    background-position: -7px center;
}

.GridDeleteButton:disabled {
    background: url(../img/delete-disabled.jpeg) no-repeat;

    margin-left: 17px;
}
.GridEditButton:disabled {
    background: url(../img/HB-Pencil-edit-disabled.png) no-repeat;
    border: none;
    background-size: 23px 23px;
    background-position: -7px center;

}


.GridDeleteButton:disabled:hover {
    cursor: url("../img/no-pencil-sign.png"),auto;
}

.SortedAscendingHeaderStyle, .SortedDescendingHeaderStyle {
    background-color: #FFFFCC;
    background-repeat: no-repeat;
}

.SortedAscendingHeaderStyle {
    background-image: url(Controls/Images/arrow_up.png);
}

.SortedDescendingHeaderStyle {
    background-image: url(Controls/Images/arrow_down.png);
}