
code[class*="language-"],
pre[class*="language-"] {
    border-radius: 2px;
    color: #445870;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    direction: ltr;
    font-family: Inconsolata, monospace;
    font-size: 13px;
    letter-spacing: 0;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 18px 24px;
    margin: 0 0 24px;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f6f7f9;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0 2px 1px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #90a1b5;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #EC4444;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #4ABF60;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #55a1fb;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #445870;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.25px;
    margin: 0;
    padding: 0 18px;
}

p {
    line-height: 1.6;
    margin: 0 0 1.6em;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: 0 0 24px;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 12px;
    padding-top: 48px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 12px;
    padding-top: 12px;
}

ul {
    margin: 0;
    padding-left: 16px;
}

a:not(.button) {
    color: #55a1fb;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
}

    a:not(.button):hover, a:not(.button):focus {
        border-bottom: 1px solid #88bfff;
    }

::-moz-selection {
    background: #f3f4f7;
}

::selection {
    background: #f3f4f7;
}

.container {
    margin: 96px auto 60px;
    max-width: 40em;
}

.box {
    background-color: #f6f7f9;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 24px 30px;
}

    .box:before, .box:after {
        content: "";
        display: table;
    }

    .box:after {
        clear: both;
    }

label {
    color: #90a1b5;
    font-size: 11px;
    margin: 0 2px 4px;
    text-transform: uppercase;
    float: left;
}

    label.right {
        float: right;
    }

.button {
    -webkit-tap-highlight-color: transparent;
    background-color: #55a1fb;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    outline: none;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: auto;
}

    .button:hover, .button:focus {
        background-color: #4196fb;
    }

    .button:active, .button.nice-select.open {
        background-color: #2d8bfa;
    }


    .button.light {
        background-color: #fff;
        border: 1px solid #e0e7ee;
        color: #55a1fb;
        line-height: 40px;
        margin-left: 24px;
    }

        .button.light:hover {
            border-color: #d0dae5;
        }

        .button.light:active, .button.light.nice-select.open, .button.light:focus {
            border-color: #88bfff;
        }

@media screen and (max-width: 360px) {
    .button {
        width: 100%;
    }

        .button.light {
            margin: 18px 0 0;
        }
}

.header {
    text-align: center;
    margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
    .header {
        padding: 0 18px;
    }
}

.header p {
    color: #90a1b5;
    font-size: 18px;
    margin-bottom: 36px;
}

.footer {
    text-align: center;
}

    .footer p {
        margin-bottom: 90px;
    }

.credit {
    color: #90a1b5;
    clear: both;
    font-size: 12px;
    margin-top: 90px;
}

.file_table {
    width: 100%;
}

.file_table_header {
    border-bottom: 1px solid #ffb215;
    padding: 8px;
    background-color: #dedede;
}

.file_table_header tr th {
    background-color: blue;
    color: white;
    border-bottom: 1px solid black;
}

.file_table tr td {
    border-bottom: 1px solid #ccc;
}

body {
    background-color: aliceblue;
}

.button {
    -webkit-tap-highlight-color: transparent;
    background-color: #55a1fb;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: auto;
    text-align: center;  
}

    .button:hover, .button:focus {
        background-color: #4196fb;
        color:blue;
    }
    .button:disabled:hover {
        background-color: #e3e3e3;
        cursor: url("../img/no-pencil-sign.png"),auto;
        color: darkgray;
        background: lightgrey;
    }
    .button:active, .button.nice-select.open {
        background-color: #2d8bfa;
    }

    .button.light {
        background-color: #fff;
        border: 1px solid #e0e7ee;
        color: #55a1fb;
        line-height: 40px;
        margin-left: 24px;
    }

        .button.light:hover {
            border-color: #d0dae5;
        }

        .button.light:active, .button.light.nice-select.open, .button.light:focus {
            border-color: #88bfff;
        }

@media screen and (max-width: 360px) {
    .button {
        width: 100%;
    }

        .button.light {
            margin: 18px 0 0;
        }
}

.list {
    max-height: 200px;
}
.menu_frame_title {
    font-size: 20px;
}

td > input[type=text], td > input[type=password],textarea {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFFFFF no-repeat 2px 2px;
    padding: 1px 1px 1px 5px;
    border: 1px solid #1c4f8a;
    width: 90%;
    display: inline-block;
}
td > input[type=text]:focus {
    transition: all 0.30s ease-in-out;
    border: 1px solid #9999FF;
}

.PanelTab {
    -webkit-tap-highlight-color: transparent;
    background-color: #2c3c59;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid gray;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: auto;
    border-bottom:none;
}

    .PanelTab:hover, .PanelTab:focus {
        background-color: azure;
        color: blue;
    }
.CreateTemplateUMT {
    width: 190px;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
    .CreateTemplateUMT:hover, .CreateTemplateIMT:hover, .CreateTemplateUMT[status="active"] {
        background-color: azure;
        color: blue;
        cursor: pointer;
    }
.CreateTemplateIMT {
    width: 190px;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
select:disabled {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #b2aaaa no-repeat 2px 2px;
    padding: 1px 1px 1px 5px;
    border: 1px solid #1c4f8a;
    width: auto;
    color: black;
    display: inline-block;
    cursor: url("../img/no-pencil-sign.png"),auto;
}
#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
    opacity: 1;
    z-index: 9999999;
}
[fieldtype ~="readonly"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d6d2d2;
    padding: 1px 1px 1px 5px;
    border: 1px solid #1c4f8a;
    width: 90%;
    display: inline-block;
    cursor: url("../img/no-pencil-sign.png"),auto;
}
